.container {
    height: 100vh;
    max-width: 100vw;
    padding: 0;
}
.mat-drawer-content {
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.navbar-nav {
    padding: 0;
    width: 30vw;
}